{% extends 'base.html' %}

{% block content %}
        {% if message  %}
            <h3>{{ message }}</h3>
        {% elif message_error %}
            <h3>{{ message_error }}</h3>
        {% endif %}
        <form method="post">
          {% csrf_token %}
            <br/>
          {{ form.date_start.label}}
            <br/>
            <br/>
            {{ form.date_start }}
            <br/>
            <br/>
            {{ form.date_end.label }}
            <br/>
            <br/>
            {{ form.date_end }}
            <br/>
            <br/>
          <input type="submit" value="Submit">
        </form>
        <table border="1">
          <tr>
              <th> Название </th>
              <th> Период </th>
              <th> Все время </th>
          </tr>
          {% for app in product_list %}
            <tr>
                <!-- Отображаем ключи и значения словаря -->
                <td>{{ app.name }}</td>
                {% for key, value in app.products.items %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
{% endblock content %}